@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Roboto+Mono&display=swap');

*, ::before, ::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*** Converts Default Font Size to 10px. Easier Rem Calculation. (1.6rem = 16px) ***/
html {
        font-size: 62.5%;
        scroll-behavior: smooth;
}

img {
        display: block; 
        width: 100%;
}



/***************************

        Custom

***************************/

:root {
    --font-primary: 2.5rem;
    --font-secondary: 1.5rem;   
    --fs-primary: 'Black Ops One', cursive; 
    --fs-secondary: 'Roboto Mono', monospace;
} 

/**************************

    Hamburger 

**************************/

.hamburger {
        display: none;
        cursor: pointer;
}

.bar {
        display: block;
        width: 25px;
        height: 3px;
        margin: 5px auto;
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        background-color: white;
}

@media(max-width: 768px) {
      .hamburger {
        display: block;
      }

      .hamburger.active .bar:nth-child(2) {
        opacity: 0;
      }
      .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
      }
      .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
      }

      .nav_menu {
        position: fixed;
        left: 100%;
        top: 150px;
        gap: 0;
        flex-direction: column;
        background-color: rgba(0, 0, 0, 0.4);
        width: 100%;
        text-align: center;
        transition: 0.3s;
      }

      .nav-link {
        margin: 16px 0;
      }

      .nav_menu.active {
        left: 0;
      }
      
}

/***************************

        Grid Layout

***************************/

body {
        display: grid;
        grid-template-rows: repeat(5, 1fr);
}

#features {
        display: grid;
        grid-template-columns: 2fr 1fr;
}



/***************************

        General

***************************/


.container {
        max-width: 1224px;
        width: 92%;
        margin: 0 auto;
}

header {
       /*  background-image: url("../img/jonathan-borba-zfPOelmDc-M-unsplash.jpg"); */
       /*  padding: 500px 0 500px 0; */
        /* height: 1000px; */
        background-color: rgba(0, 0, 0, 0.4);
        position: fixed;
        width: 100%;
}


#header-img {
        width: 150px;
}

/** You can change opacity with the alpha channel in RGBA **/

#nav-bar {
        min-height: 70px;
        display: flex;
        justify-content: space-between;
        align-items: center;
     
}


.nav_menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 30px;
}

#email {
        display: block;
        width: 200px;
        margin-bottom: 15px;
        padding: 10px;
}

#submit {
        width: 150px;
        height: 50px;
}


/***************************

        Typography

***************************/

ul {
        display: flex;
}

ul li {
   /*      padding-right: 2rem; */
        list-style: none;       
}

/* ul li:nth-child(1), ul li:nth-child(2) {
        padding-right: 2rem;
} 
 */
.nav-link {
        text-decoration: none;
        color: none;
        font-size: var(--font-primary);
        color: white;
}

.nav-link:hover {
        color: green;
}

form p {
        font-size: 3rem;
        color: white;
}

.nav-link {
        font-family: var(--fs-primary);
}

/***************************

        Media Query

***************************/

@media (max-width: 500px) {
        video {width: 100%;
        }
}




/* 

<!-- Build a Product Landing Page

Objective: Build an app that is functionally similar to https://product-landing-page.freecodecamp.rocks

User Stories:

    Your product landing page should have a header element with a corresponding id="header"
    You can see an image within the header element with a corresponding id="header-img" (A logo would make a good image here)
    Within the #header element, you can see a nav element with a corresponding id="nav-bar"
    You can see at least three clickable elements inside the nav element, each with the class nav-link
    When you click a .nav-link button in the nav element, you are taken to the corresponding section of the landing page
    You can watch an embedded product video with id="video"
    Your landing page has a form element with a corresponding id="form"
    Within the form, there is an input field with id="email" where you can enter an email address
    The #email input field should have placeholder text to let users know what the field is for
    The #email input field uses HTML5 validation to confirm that the entered text is an email address
    Within the form, there is a submit input with a corresponding id="submit"
    When you click the #submit element, the email is submitted to a static page (use this mock URL: https://www.freecodecamp.com/email-submit)
    The navbar should always be at the top of the viewport
    Your product landing page should have at least one media query
    Your product landing page should utilize CSS flexbox at least once

Fulfill the user stories and pass all the tests below to complete this project. Give it your own personal style. Happy Coding!

Note: Be sure to add <link rel="stylesheet" href="styles.css"> in your HTML to link your stylesheet and apply your CSS
 --> */